#webcam {
    position:absolute;
    opacity:0;
}

* {
    font-family: Inter, sans-serif;
}

h1 {
    background-color: #F9F5EC;
    margin:0;
    padding:0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #F9F5EC;
}

#relativeContainer {
    position: relative;
    height: 100%;
}

#playerHandsOverlay {
    bottom:0;
}

#computerOverlay {
    top:0;
}

.overlay {
    width: 100%;
    left:0;
    position:absolute;
    z-index:1;
}

.handOverlay {
    display:flex;
    justify-content:space-between;
}

#textOverlay {
    top:0;
    display:flex;
    justify-content:center;
}

#playAgain {
    border-radius: 3px;
    background-color: blue;
    border:0px;
    color: white;
    width: 25%;
    height: 15%;
}

#loseScreen {
    border-radius: 15px;
    background-color:#F9F5EC; 
    position:absolute;
    flex-direction:column;
    top: 50%;
    left: 50%;
    height:25%;
    width:40%;
    border: 1px solid black;
    transform: translate(-50%, -50%);
    display:none;
    justify-content:center;
    align-items:center; 
    box-shadow: 10px 10px 5px gray;
}