#webcam {
    position:absolute;
    opacity:0;
}

* {
    font-family: Inter, sans-serif;
}

h1 {
    background-color: #F9F5EC
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #F9F5EC;
}

#relativeContainer {
    position: relative;
    height: 100%;
}

#playerHandsOverlay {
    display:flex;
    width: 100%;
    bottom:0;
    left:0;
    justify-content:space-between;
    position:absolute;
    z-index:1;
}

#computerOverlay {
    display:flex;
    width: 100%;
    top:0;
    left:0;
    justify-content:space-between;
    position:absolute;
    z-index:1;
}